{% extends 'base.html' %}

{% block body %}
<h1>{{mailinglist.name}} Management <a href="{% url 'mailinglist:delete_mailinglist' pk=mailinglist.id %}"
        class="btn btn-danger">Delete</a></h1>
<div>
    <a href="{% url 'mailinglist:manage_mailinglist' pk=mailinglist.id%}">
        Subscription Link
    </a>
</div>
<h2>Message</h2>
<div>
    <a class="btn btn-primaty" href="{% url 'mailinglist:create_message' mailinglist_ipk=mailinglist.id %}">Send new Message</a>
</div>
<ul>
    {% for message in mailinglist.massage_set.all %}
    <li>
        <a href="{% url 'mailinglist':view_message % pk=message.id}">{{message.subject}}</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Subscribers</h2>
    <ul>
        {% for subscriber in mailinglist.subsciber_set.all %}
        <li>
            {{subscriber.email}}
            {{subscriber.confirmed|yesno:"confirmed,unconfirmed"}}
            <a href=" {% url 'mailinglist:unsubscribe' pk=subscriber.id%}">
            Unsubscribe
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}